* {
  box-sizing: border-box;
  margin: 0;
  line-height: 1.5em;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #e0e3dc; */
  font-family: Montserrat;
}

img {
  height: 90px;
}

a {
  color: #fff;
  text-decoration: none;
}